h1{
    position: absolute;
    text-align: center;
    color: aliceblue;
    margin-top: 35px;
    margin-left: 40%;
    font-family: fantasy;
}

.header{
position: relative;
width: 100%;
height: 100px;
background-color: black;
}

.main-div{
    margin-top: 80px;
    text-align: center ;
}

.watch{
    margin: auto;
    width: 80px;
    height: 30px;
}



.timer{
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

button{
    border-radius: 4px;
    margin: 20px;
    font-size: 20px;
    background-color: black;
    color: aliceblue;
}

.laps{
    font-family: fantasy;
    margin-top: 30px;
    color: aliceblue;
    border-radius: 3px;
    background-color: black;
    margin-left: 40%;
    width:290px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}


.lap-count{
    font-size: 30px;
}