h2{
    position: absolute;
    text-align: center;
    color: aliceblue;
    margin-top: 35px;
    margin-left: 48%;
    font-family: fantasy;

}

.header{
position: relative;
width: 100%;
height: 100px;
background-color: black;
}

.main-div{
    margin-top: 80px;
    text-align: center ;
}

.watch{

    border: none;
    font-size: 30px;
    margin: auto;
    width: 160px;
    height: 30px;
}



.timer{
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

button{
    border-radius: 4px;
    margin: 20px;
    font-size: 20px;
    background-color: black;
    color: aliceblue;
}